@tailwind base;
@tailwind components;
@tailwind utilities;

.comments-container::before {
    position: absolute;
    display: block;
    top: 0;
    left: -40px;
    content: "";
    width: 3px;
    height: 100%;
    background: white;
    opacity: .07;
}

.comment-container::before {
    position: absolute;
    display: block;
    top: 75px;
    content: "";
    width: 30px;
    height: 3px;
    background: white;
    left: -37px;
    opacity: .07;
}

.comment-container.admin::before {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 38px;
    border: 7px solid #d1d5db;
    box-shadow: 4px 4px 15px 0 rgba(36, 37, 38, 0.08);
    left: -58px;
    background: #7b3aec;
    opacity: 1;
}

